.mat-drawer-inner-content {
    overflow: hidden !important;
}

mat-drawer-content {
    overflow: scroll
}

.nav-container {
    height: 100%;
}

.dog-breed {
    margin-bottom: 0;
    margin-top: 10px;
    text-transform: capitalize;
}

.dog-breed:last-child {
    margin-bottom: 20px;
}

.main-breed {
    font-size: 17px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 300;
    list-style: none;
    cursor: pointer;
    width: fit-content;
}

.sub-breed {
    font-size: 15px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 200;
    list-style: disc;
    cursor: pointer;
    width: fit-content;
}

.sub-breed:hover,
.main-breed:hover {
    text-decoration: underline;
}