<mat-drawer-container class="nav-container">
    <mat-drawer-content>
        <ul class="dog-breed" *ngFor="let dogBreed of dogBreeds | keyvalue">
            <li class="main-breed" routerLink="/{{dogBreed.key}}">{{dogBreed.key}}</li>
            <ul *ngIf="(dogBreed.value)">
                <li class="sub-breed" *ngFor="let subBreed of dogBreed.value"
                    routerLink="/{{dogBreed.key}}/{{subBreed}}">
                    {{subBreed}}
                </li>
            </ul>
        </ul>
    </mat-drawer-content>
</mat-drawer-container>